.main-container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.supheader{
    padding: 7px 0;
    background: #355DFF;
    box-shadow: 0px 1px 0px #E5E9F2;
}


.button{
    padding: 10px 50px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    border: 2px solid;
    display: inline-block;
    transition: .1s ease-in;
}
.btn-wrapper .button:hover{
    color: inherit;
    text-decoration: none;
    transform: scale(1.05);
}
.button_orange{
    border-color: #F79C00;
    background: #F79C00;
    color: #FFFFFF;
}
.button_blue{
    color: #000;
    background: #ECF3FF;
    border-color: #ECF3FF;
}
.button_transparent{
    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
}
.btn-wrapper .button{
    margin-right: 25px;
}
.btn-wrapper .button:last-child{
    margin-right: 0;
}



.header{
    padding: 20px;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: inline-block;
    margin: 25px;
}

/*navigation*/
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navigation{
    margin-right: 25px;
}
.navigation__list{
    display: flex;
}
.navigation__item{
    display: inline-block;
    padding: 0 15px;
    position: relative;
}
.navigation__item:hover .navigation-drop{
    display: block;
}
.iframe-slider{
    height: 600px;
}
.navigation-drop{
    z-index: 100000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    padding-top: 15px;
}
.navigation-drop__list{
    background-color: #fff;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    padding: 12px 20px; 
}
.navigation-drop__item{
    margin-bottom: 10px;
}
.navigation__link{
    font-weight: 600;
    font-size: 14px;
    color: #000;
}
.navigation__link:hover{
    text-decoration: none;
    color: #355DFF;
}
.contact{
    color: #7C8087;
    font-weight: 600;
}
.contact__tel{
    display: block;
    color: inherit;
    font-size: 18px;
}
.flex{
    display: flex;
    align-items: center;
}
.networks-list{
    display: flex;
}
.networks-list__item{
    margin-right: 15px;
}
.networks-list__item:last-child{
    margin-right: 0;
}
.networks-list a{
    color: #fff;
    text-decoration: none;
}
.supheader__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.networks-list__item a+a{
    margin-left: 15px;
}
.supheader__wrapper .form-select{
    background: url(images/Path.png) no-repeat right;
    color: #fff;
    margin-right: 200px;
    width: auto;
    padding: 0 20px;
}
.supheader__wrapper .form-select option{
    color : #000;
}
