body{
    background: #E5E5E5;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
}
a{
    text-decoration: none;
    display: inline-block;
}
.wrapper{
    min-height: 495px;
    max-width: 1030px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    margin: 50px auto;
}
.background-block{
    position: relative;
    background-image: url(images/slider-img.png);
    background-size: cover;
}
select{
    cursor: pointer;
}
.background-block::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #229FFF;
    opacity: 0.4;
}
.registration-block{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
.right-col{
    padding: 50px;
    background-color:#FFFFFF;
    position: relative;
}
.right-col__content{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right-col form{
    flex-grow: 1;
}
.right-col__title{
    margin-bottom: 0;
    font-weight: 800;
    font-size: 36px;
    line-height: 48px;
}
.right-col__subtitle{
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 33px;
}
.right-col__subtitle_registration{
    font-size: 16px;
    color:#757575;
}
.text{
    color: #fff;
    margin-right: 5px;
}
.label-wrapper{
    padding: 2px;
    display: flex;
    margin-bottom: 20px;
    border: 2px solid #F1F1F1;
    border-radius: 8px;
   
}
.label-wrapper span{
    padding: 12px;
    border-right: 2px solid #f1f1f1;
}
.form-input{
    max-width: 100%;
    flex-grow: 1;
    padding: 12px 30px !important;
    font-weight: 600;
    outline: none;
    border: none;
    color:#757575;
}
.form-input:focus{
    outline: 2px solid #355DFF;
}

.form-btn{
    cursor: pointer;
    padding: 12px;
    width: 100%;
    font-family: inherit;
    font-weight: 600;
    color: #fff;
    border: none;
    background: #355DFF;
    border-radius: 6px; 
    margin-bottom: 53px;
    transition: 0.5s ease;
}
.form-btn:hover{
    background-color: #0134ff;
}
.support-block{
    text-align: center;
    line-height: 19px;
}
.support-block__text{
    margin: 0;
}
.support-link{
    color: blue !important;
    cursor: pointer;
    text-decoration: underline !important;
}
.close-btn{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
}
.form-select{
    width: 100%;
    outline: none;
    height: 100%;
    border: none;
    padding: 0 25px;
    -webkit-appearance: none;
    background: url(images/arrow.svg) no-repeat 90%;
} 
.link{
    color: #355DFF !important;
    font-weight: bold;
}
.link:hover{
    text-decoration: none;
}
.alternative-block{
    margin-top: -43px;
    text-align: center;
    overflow: hidden;
}
.alternative-block__text{
    position: relative;
}
.alternative-block__text::before, .alternative-block__text::after{
    content:"";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F5F5F5;
    height: 1.5px;
    width: 200px;
}
.alternative-block__text::before{
    right: 50px;
}
.alternative-block__text::after{
    left: 50px;
}
.networks{
    margin-top: 10px;
    display: flex;
}
.networks__item{
    flex-grow: 1;
    padding: 12px 0;
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    transition: 0.5s ease;
}
.networks__item:first-child{
    background-color: #F8F9FA;
    margin-right: 20px;
}
.networks__item:first-child:hover{
    background-color: #dddddd;
}
.networks__item:nth-child(2){
    background-color: #3B5998;
}
.networks__item:nth-child(2):hover{
    background-color: #2b447a;
}
.title-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.step{
    position: relative;
    top: 7px;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #7C8087;
    margin-left: 14px;
}
.checkbox-wrapper{
    margin-bottom: 20px;
    padding-left: 1.3rem;
}
.input-title{
    color: #242731;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.invite{
    color: #355DFF;
}
.mg-o{
    margin-bottom: 0;
}
.labels-wrapper{
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
}
.labels-wrapper > .label-wrapper{
    width: 27%;
    margin-right: 10px;
    margin-left: 10px;
}
.labels-wrapper .label-wrapper:nth-child(2){
    flex-grow: 1;
}


